<nav class="nav-bar">
    <img src="../../../assets/logo-edit.png" alt="">
</nav>
<section>
    <div class="container">
        <h2>Welcome Back</h2>
        <p>Enter your email and password to sign in</p>
        <form [formGroup]="signInForm" (ngSubmit)="signIn()">
            <label for="email" class="pb-2">Email</label>
            <input type="email" formControlName="email" placeholder="Nan@alahlymomkn.com">
            <div *ngIf="signInForm.controls['email'].invalid && (signInForm.controls['email'].dirty || signInForm.controls['email'].touched)"
                class="text-danger">
                <div *ngIf="signInForm.controls['email'].errors?.['required']">
                    Email is required.
                </div>
                <div *ngIf="signInForm.controls['email'].errors?.['email']">
                    Please enter a valid email address.
                </div>
            </div>
            <label for="password" class="pb-2">Password</label>
            <input type="password" formControlName="password"
                placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;">
            <div *ngIf="signInForm.controls['password'].invalid && (signInForm.controls['password'].dirty || signInForm.controls['password'].touched)"
                class="text-danger">
                <div *ngIf="signInForm.controls['password'].errors?.['required']">
                    Password is required.
                </div>
            </div>
            <button type="submit" class="btn" [disabled]="signInForm.invalid">SIGN IN</button>
            <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
        </form>
    </div>
</section>